#main{/*selve grid-en*/
    display: grid;
    grid-template-areas: 
        "topbar"
        "ads"     
        "content"      
        "footer";
}
h1{/*slik at logoen passer inn i nav*/
    margin: 0;
    padding: 0;
}
h2{
    margin: 0;
    padding: 0;
}
#logo{
    text-decoration: none;
}
header{ 
    grid-area: topbar;
    background-color: #BBBBBB;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1rem;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 20px;
}
nav li{
    padding-inline: 3%;
    vertical-align: middle;
}
#article{
    display: flex;
    grid-area: content;
    text-align: center;
    flex-direction: row;
    justify-content: center;
}
#aside{
    grid-area: ads;
    text-align: center;
}
#rightside{
    grid-area: sidebar;
    text-align: center;
    display: none;
}
#aside img, #rightside img, #shoe img{
    width:90%;
    padding-bottom: 1rem;
    border-radius: 30px;
}
#aside h2, #rightside h2{
    padding-top: 1rem;
    padding: 1rem;
}
footer{grid-area: footer;}

header, #aside, #article, #rightside, #sale, #gallery, footer {
    padding:1rem
}
#shoe, #info{
    padding: 1rem;
}
#sale, #gallery{
    background-color: #CECECECE;
    border-radius: 40px;
}
#buttons{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    row-gap: 1rem;
    border-radius: 5%;
}
#buttons a{
    text-decoration: none;
}
#buttons h2{
    padding: 1.2rem;
    color: black;
    width:30%;
    min-width: 90px;
    background-color: #E0E0E0;
    text-align: center;
    vertical-align: middle;
    border-radius: 30px;
}
#sale{
    display: flex;
    flex-direction: column;
    background-color: #CECECE;
    border-radius: 30px;
}
#sale2{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
#info section{
    padding: 0.5rem;
}
#back{
    justify-content: left;
    text-align: left;
    text-decoration: none;
}
#back a{
    background-color: #8B8B8B;
    padding: 5px;
    border-radius: 50%;
}
#shoe{
    display: flex;
    justify-content: center;
}
#info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #D9D9D9;
    border-radius: 30px;
}
#description{
    width: 50%;
}
#rest{
    width: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    vertical-align: top;
}
#bigreview{
    justify-content: center;
    text-align: center;
    padding: 0rem;
    background-color: #E0E0E0;
    border-radius: 30px;
}
#review{
    display: none;
    justify-content: center;
    text-align: center;
    background-color: #8B8B8B;
    border-radius: 30px;
    min-width: 122px;
}
#stars{
    min-width: 122px;
}

#stars2{
    min-width: 122px;
}
.checked{
    color: orange;
}
#storage{
    list-style: none;
    padding-top: 0rem;
}
#storage li::before{
    content: "\2022";
    color: #14FF00;
    font-weight: bold;
    display: inline-block; 
    width: 1em;
    margin-left: -2em;
}
#checkout{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #E0E0E0;
    border-radius: 30px;
}
#checkout h2{
    padding: 0rem;
}
#buy{
    background-color: #16AF1C;
    border: 2px #16AF1C;
    border-radius: 30px;
    transition-duration: 0.2s;
}
#buy:hover{
    background-color: #1cd823;
}
#buy ul{
    display: flex;
    align-items: center;
    row-gap: 1rem;
    list-style-type: none;
    padding: 0px;
    justify-content: center;
}
#buy li{
    padding-inline: 3%;
    vertical-align: middle;
}
#product_list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 0.5rem;
    row-gap: 1rem;
}
#product_list img{
    width: 100%;
    border-radius: 30px;
}
#product{
    min-width: 150px;
    max-width: 300px;
    justify-content: center;
    text-align: center;
    background-color: #E0E0E0;
    border-radius: 30px;
    padding: 1rem;
}
#product h2{
    width: min-content;
    text-align: center;
}
@media screen and (min-width: 600px){
    #main{
        display: grid;
        grid-template-areas: 
            "topbar     topbar      topbar"
            "ads    content     sidebar"
            "footer     footer  footer";
    }
    #rightside{
        display: block;
    }
    #buttons{
        flex-direction: column;
    }
    #buttons a{
        width: 100%;
    }
    #rightside img, #aside img, #shoe img{
        min-width: 272px;
        object-fit: cover;
    }
    #shoe, #info{
        width: 50%;
    }
    #sale2{
        flex-direction: row-reverse;
    }
    #review{
        display: block;
    }
    #product_list{
        justify-content: flex-start;
    }
}