#main{
    display: grid;
    grid-template-areas: 
        "topbar"
        "ads"     
        "content"      
        "footer";
}
#logo{
    text-decoration: none;
}
header{ 
    grid-area: topbar;
    background-color: #BBBBBB;
}
article{
    display: flex;
    grid-area: content;
    align-items: center;
    text-align: center;
    background-color: red;
    flex-direction: row;
}
aside{
    grid-area: ads;
    align-items: center;
    text-align: center;
}
nav{
    display: none;
}
aside img{
    width:100%;
}
footer{grid-area: footer;}

header, aside, article, nav, footer {
    padding:1rem
}
#tilbud, #buttons{
    background-color: blue;
}
#buttons{
    display: flex;
    text-align: center;
    flex-direction: row;
    width: 100%;
}
@media screen and (min-width: 600px){
    #main{
        display: grid;
        grid-template-areas: 
            "topbar     topbar      topbar"
            "ads    content     sidebar"
            "footer     footer  footer";
    }
    #buttons{
        flex-direction: column;
    }
    nav{display: flex;};
    aside{
        width: 40%;
    }
    article{
        width: 20%;
    }
    nav{
        width: 40%;
    }
}